@media only screen and(max-width:300px) {
    body {
        background-color: #FF0000;
        font-size: 20px;
}


#medium {

}

#large {

}
}

@media screen and (min-width: 300px) and (max-width: 768px) {
    body {
      background-color: #008000;
      font-size: 40px;
    }
  
    #small {
      width: 76.7%;
    }
  
    #medium {
      width: 33.3%;
    }
  
    #large {
      width: 100%;
    }
  }

  @media only screen and (min-width: 768px) {
    body {
      background-color: #0000FF;
      font-size: 30px;
      display: grid;
      grid-template-columns: 33% 33% 33%;
      grid-template-rows: auto;
    }
  
    #small {
      grid-column: 1/1;
      grid-row: 1/1;
    }
  
    #medium {
      grid-column: 2/2;
      grid-row: 1/1;
    }
  
    #large {
      grid-column: 3/3;
      grid-row: 1/1;
    }
  }
  
  






















